.expand-panel .slds-m-bottom_small .slds-card{
    position: unset !important;
    /* width: 50%; */
}

.subtabletd .slds-p-around_small .slds-form-element div .slds-form-element__label{
    display: none !important;
}
.navexStandardManager .slds-template__container .slds-spinner_container, .navexStandardManager>.center .s1FixedTop{
    z-index: 9999;
}
.menusection .slds-modal__container{
    max-width: 60rem !important;
    width: auto !important;
}
.tablediv .slds-table thead th{
    text-align: center !important;
}
.tablediv .slds-table_bordered tbody td{
    text-align: center !important;
}
/* .combodiv .slds-form-element__control .slds-input{
    border: none !important;
    padding: 0 !important;
}

.combodiv .slds-form-element__control .slds-input div .slds-form-element__label{
    display: none !important;
} */

/* .combodiv .slds-input {
    border: 0;
    padding: 0;
} */